.form-password {
  position: relative;
  align-items: baseline;
}

.form-password p,
.form-password span {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0;
}

.form-password .eye {
  position: absolute;
  right: 1em;
  top: 2.3em;
  cursor: pointer;
  color: white;
}

@media (max-width: 767px) {
  .form-password .eye {
    right: 0.5em;
    top: 2.1em;
  }
}

.form-password .eye:hover {
  color: #f5f5f5;
}