.markdown-body {
    word-wrap: break-word; /* Wrap long words */
  }
  
  .code-block,
  .code-inline,
  .pre-block {
    max-width: 100%;
  }
  
  /* Ensures code in markdown wraps and is responsive */
  .code-block code,
  .code-inline {
    white-space: pre-wrap !important; /* Wrap preformatted content */
  }
  
  /* Ensuring the pre block wraps as necessary with scrolling for large code blocks */
  .pre-block {
    white-space: pre-wrap !important; /* Wrap preformatted content */
    overflow-x: auto; /* Add horizontal scroll if necessary */
    word-wrap: break-word; /* Ensure long strings wrap */
  }