@tailwind base;
@tailwind components;
@tailwind utilities;


.form-block {
  margin-bottom: 1rem;
}

.form-block__fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-block button[type="submit"] {
  margin-top: 1rem;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 600;
}